GATEWAY_SERVICE_NAME='FastAPI Gateway'
GATEWAY_SERVICE_VERSION=0.1.0
GATEWAY_DATABASE_URL=postgresql+psycopg2://user:pass@gateway_db:5432/gateway
GATEWAY_RABBITMQ_HOST=rabbitmq
GATEWAY_RABBITMQ_PORT=5672
GATEWAY_RABBITMQ_USER=user
GATEWAY_RABBITMQ_PASS=pass
GATEWAY_RABBITMQ_CONNECTION_RETRIES=5
GATEWAY_RABBITMQ_CONNECTION_RETRY_DELAY=5
GATEWAY_SERVICE_PORT=8000
GATEWAY_TOKEN_SERVICE_URL=http://kms-service:8000
GATEWAY_USERS_SERVICE_URL=http://users-service:8000
GATEWAY_SCHOOLS_SERVICE_URL=http://schools-service:8000
GATEWAY_ENVIRONMENT=development
GATEWAY_SENTRY_DSN=""
GATEWAY_SENTRY_RELEASE=""
GATEWAY_ACCESS_TOKEN_EXPIRE_MINUTES=30
GATEWAY_REFRESH_TOKEN_EXPIRE_DAYS=30

KMS_SERVICE_NAME='Template FastAPI'
KMS_SERVICE_VERSION=0.1.0
KMS_SERVICE_PORT=8000
KMS_DATABASE_URL=postgresql+asyncpg://user:pass@kms-service_db:5432/kms_service
KMS_RABBITMQ_HOST=rabbitmq
KMS_RABBITMQ_PORT=5672
KMS_RABBITMQ_USER=user
KMS_RABBITMQ_PASS=pass
KMS_JWT_ALGORITHM=RS256
KMS_ENVIRONMENT=development
KMS_SENTRY_DSN=""
KMS_SENTRY_RELEASE=""

USERS_SERVICE_NAME='users service'
USERS_SERVICE_VERSION=0.1.0
USERS_DATABASE_URL=postgresql+psycopg2://user:pass@users-service_db:5432/users_service
USERS_RABBITMQ_HOST=rabbitmq
USERS_RABBITMQ_PORT=5672
USERS_RABBITMQ_USER=user
USERS_RABBITMQ_PASS=pass
USERS_SERVICE_PORT=8000
USERS_ENVIRONMENT=development
USERS_SENTRY_DSN=""
USERS_SENTRY_RELEASE=""
USERS_SERVER_URL="example.com"

SCHOOLS_SERVICE_NAME='Schools Service'
SCHOOLS_SERVICE_VERSION=0.1.0
SCHOOLS_DATABASE_URL=postgresql+psycopg2://user:pass@schools-service_db:5432/schools_service
SCHOOLS_RABBITMQ_HOST=rabbitmq
SCHOOLS_RABBITMQ_PORT=5672
SCHOOLS_RABBITMQ_USER=user
SCHOOLS_RABBITMQ_PASS=pass
SCHOOLS_SERVICE_PORT=8000
SCHOOLS_ENVIRONMENT=development
SCHOOLS_SENTRY_DSN=""
SCHOOLS_SENTRY_RELEASE=""
SCHOOLS_API_PREFIX=/api/v1

EMAIL_SERVICE_NAME='Servizio Email'
EMAIL_SERVICE_VERSION=0.1.0
EMAIL_DATABASE_URL=sqlite:///./database.db
EMAIL_RABBITMQ_HOST=rabbitmq
EMAIL_RABBITMQ_PORT=5672
EMAIL_RABBITMQ_USER=user
EMAIL_RABBITMQ_PASS=pass
EMAIL_RABBITMQ_SEND_EMAIL_ROUTING_KEY=send_email
EMAIL_RABBITMQ_CONNECTION_RETRIES=5
EMAIL_RABBITMQ_CONNECTION_RETRY_DELAY=5
EMAIL_SERVICE_PORT=8000
EMAIL_ENVIRONMENT=development
EMAIL_SENTRY_DSN=""
EMAIL_SENTRY_RELEASE=""
EMAIL_API_PREFIX=/api/v1
EMAIL_MAIL_USERNAME=""
EMAIL_MAIL_PASSWORD=""
EMAIL_MAIL_FROM=""
EMAIL_MAIL_PORT=587
EMAIL_MAIL_SERVER=""
EMAIL_MAIL_FROM_NAME=""
EMAIL_MAIL_STARTTLS=True
EMAIL_MAIL_SSL_TLS=False
EMAIL_USE_CREDENTIALS=True
EMAIL_VALIDATE_CERTS=True
