[submodule "fastapi-gateway"]
	path = fastapi-gateway
	url = https://github.com/la-gaga-organization/fastapi-gateway
	branch = develop
[submodule "KMS-service"]
	path = KMS-service
	url = https://github.com/la-gaga-organization/KMS-service
	branch = develop
[submodule "RabbitMQ"]
	path = RabbitMQ
	url = https://github.com/la-gaga-organization/RabbitMQ
[submodule "users-service"]
	path = users-service
	url = https://github.com/la-gaga-organization/users-service
    branch = develop
[submodule "schools-service"]
	path = schools-service
	url = https://github.com/la-gaga-organization/schools-service
	branch = develop
[submodule "email-service"]
	path = email-service
	url = https://github.com/orientati/email-service
	branch = develop