services:
  rabbitmq:
    extends:
      file: RabbitMQ/docker-compose.yml
      service: rabbitmq

  gateway-migrate:
    build: ./fastapi-gateway
    command: alembic upgrade head   # sovrascrive il comando di avvio eseguendo solo le migrazioni
    env_file: .env
    depends_on:
      - gateway_db
    networks:
      - backend_net
      - micro_net
    deploy:
      replicas: 1   # forza una sola istanza
    restart: "no"   # non viene riavviato

  gateway:
    build: ./fastapi-gateway
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - gateway_db
      - gateway-migrate
      - rabbitmq
    networks:
      - backend_net

  gateway_db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: gateway
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_net

  kms-service:
    build: ./KMS-service
    env_file: .env
    networks:
      - backend_net
    deploy:
      replicas: 1   # forza una sola istanza, altrimenti si avrebbero certificati diversi

networks:
  backend_net:
  micro_net:

volumes:
  db_data:

