services:
  rabbitmq:
    extends:
      file: RabbitMQ/docker-compose.yml
      service: rabbitmq
    restart: unless-stopped


  #######################
  # DATABASE
  ########################

  users-service_db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: users_service
    ports:
      - "5432:5432"
    volumes:
      - users_service_db_data:/var/lib/postgresql/data
    networks:
      - backend_net
      - micro_net
    restart: unless-stopped

  gateway_db:
    extends:
      file: ./fastapi-gateway/docker-compose.yml
      service: gateway_db
    env_file: .env


  ########################
  # MIGRAZIONI
  ########################

  gateway-migrate:
    extends:
      file: ./fastapi-gateway/docker-compose.yml
      service: gateway-migrate
    env_file: .env

  users-service-migrate:
    build: ./users-service
    command: alembic upgrade head   # sovrascrive il comando di avvio eseguendo solo le migrazioni
    env_file: .env
    depends_on:
      - users-service_db
    networks:
      - backend_net
      - micro_net
    deploy:
      replicas: 1   # forza una sola istanza
    restart: "no"   # non viene riavviato



    ########################
    # SERVIZI
  ########################

  kms-service:
    build: ./KMS-service
    env_file: .env
    networks:
      - backend_net
    deploy:
      replicas: 1   # forza una sola istanza, altrimenti si avrebbero certificati diversi
    restart: unless-stopped

  gateway:
    extends:
      file: ./fastapi-gateway/docker-compose.yml
      service: gateway
    env_file: .env


  users-service:
    build: ./users-service
    env_file: .env
    depends_on:
      - users-service_db
      - users-service-migrate
      - rabbitmq
    networks:
      - backend_net
    restart: unless-stopped



networks:
  gateway_net:
  backend_net:
  micro_net:

volumes:
  gateway_db_data:
  users_service_db_data: