services:
  rabbitmq:
    ports:
      - "5672:5672"
      - "15672:15672"

  gateway:
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  kms-service:
    ports:
      - "8001:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  users-service:
    ports:
      - "8002:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  schools-service:
    ports:
      - "8003:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  gateway_db:
    ports:
      - "5431:5432"

  users-service_db:
    ports:
      - "5432:5432"

  schools-service_db:
    ports:
      - "5433:5432"
